html{
  font-size: 62.5%; /* 16px * 62.5 = 10px */
  box-sizing: border-box;
}
body{
  margin: 0;
  height: 100vh;
  font-size: 1.6rem;
  font-family:Helvetica,  Arial, sans-serif, 'Fredoka One', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
:root{
  --mainBg: #00102e;
  --hoverColor: #ff1500;
  --buttonColor: #ff931e;
}
#root{
  height: 100%;
}
.row {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.center{
  justify-content: center;
}
a{
  text-decoration: none;
}
a:hover{
color: var(--hoverColor);
}
header a {
  padding: 1.5rem;
  color: #ffffff;
}
a.brand{
  color: #ff4939;
  font-family: 'Fredoka One', cursive;
  font-size: 3.5rem;
}
.grid-container{
  display: grid;
  grid-template-areas: 
  'header'
  'main'
  'footer'
  ;
  height: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
}
header {
  grid-area: header;
  background-color: var(--mainBg);
}
main {
  grid-area: main;
  padding: 1rem;
}
footer{
  grid-area: footer;
  background-color: var(--mainBg);
  color: white;
}
footer.center{
  justify-content: center;
}
.card{
  margin: 2rem;
  border: 1px solid lightgray;
  border-radius: .5rem;
}
.card-body{
  padding: 1rem;
}

ul > li {
  margin-bottom: .5rem;
}
h2{
  font-size: 1.8rem;
}
.rating{
  color: var(--buttonColor);
}
img.card-image {
  max-width: 29rem;
  width: 100%;
}

img.large{
  width: 100%;
}
.col-1{
  flex: 1 1 25rem;
  padding: 1rem;
}
.col-2{
  flex: 2 1 50rem;
}
ul , li {
  list-style-type: none;
  margin: 0;
}
.top{
  align-items: flex-start;
}

button, textarea, select, input{
  padding: 1rem;
}
button{
  width: 100%;
  background-color: var(--buttonColor);
  margin-top: .5rem;
}
.border{
  border: 1px solid lightgray;
}
.rating > :last-child{
  color: black;
}